In [6]:
print("Hello")

Hello

# Heading 1

## Heading 2

In [9]:
# heading 1
# 1
# 2
# 3
# 4

# Python Basics

In [17]:
"1+1"+2

TypeError: can only concatenate str (not "int") to str

In [15]:
"My dog's name is puppy@#"

"My dog's name is puppy@#"

In [23]:
# object
Hello = "How are you?"
Hello

'How are you?'

In [28]:
cat = 1000
dog = 50 
mouse = cat + dog

In [29]:
mouse

1050

## 1. Variables and Data Types

In [44]:
# Numbers (integers and floats)
quantity = 3
price = "29.99"
total = quantity * price

print(f"Quantity: {quantity}")
print(f"Price: ${price}")
print(f"Total: ${total}")
print(f"Type of total: {type(total)}")

Quantity: 3
Price: $29.99
Total: $29.9929.9929.99
Type of total: <class 'str'>

In [35]:
print("quantity:", quantity," price:", price, " total:", total)

quantity: 100  price: 29.99  total: 2999.0

In [ ]:
print(f"Quantity: {quantity} for today... and the price is {price}")

Quantity: 100 for today... and the price is 29.99

In [48]:
# string as an object
greeting = "Hello, World!"
greeting[6]

' '

# Lists

In [1]:
# Creating a list
sales_amounts = [1200, 1500, 980, 2100, 1750]
regions = ["North", "South", "East", "West", "Central"]

print("Sales amounts:", sales_amounts)
print("Regions:", regions)

Sales amounts: [1200, 1500, 980, 2100, 1750]
Regions: ['North', 'South', 'East', 'West', 'Central']

In [12]:
sales_amounts

[1200, 1500, 980, 2100, 1750, 2000]

In [9]:
sales_amounts.append(2000)

In [14]:
total_sales = sum(sales_amounts)
total_sales

9530

In [15]:
# length
len(sales_amounts)

6

In [24]:
avg_sales = total_sales / len(sales_amounts)
avg_sales

1588.3333333333333

In [27]:
print(f"Average sales: ${avg_sales:.2f}")

Average sales: $1588.33

In [29]:
f"{avg_sales:.2f}"

'1588.33'

# Dictionary

In [ ]:
# Creating a list
sales_amounts = [1200, 1500, 980, 2100, 1750]
regions = ["North", "South", "East", "West", "Central"]

print("Sales amounts:", sales_amounts)
print("Regions:", regions)

Sales amounts: [1200, 1500, 980, 2100, 1750]
Regions: ['North', 'South', 'East', 'West', 'Central']

In [31]:
# Creating a dictionary
# key-value pairs
customer = {
    "name": "Sarah Johnson",
    "customer_id": "CUST0123",
    "email": "sarah.johnson@email.com",
    "total_purchases": 15,
    "is_premium": True
}

print(customer)

{'name': 'Sarah Johnson', 'customer_id': 'CUST0123', 'email': 'sarah.johnson@email.com', 'total_purchases': 15, 'is_premium': True}

In [33]:
customer["email"]
sales_amounts[0]

1200

In [34]:
customer["name"] = "Foo"

In [37]:
customer['title'] = "Ms."

In [38]:
customer

{'name': 'Foo',
 'customer_id': 'CUST0123',
 'email': 'sarah.johnson@email.com',
 'total_purchases': 15,
 'is_premium': True,
 'title': 'Ms.'}

# If...Else

In [ ]:
# indent
# indentation

In [44]:
# Simple if/else
order_amount = 150

if order_amount > 100:
    discount = 0.1  # 10% discount
    print("Order qualifies for 10% discount!")
else:
    discount = 0
    print("No discount applied.")
final_amount = order_amount * (1 - discount)

Order qualifies for 10% discount!

In [47]:
# Multiple conditions with elif
score = 95

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Score: {score} = Grade: {grade}")

Score: 95 = Grade: A

In [63]:
age = 28
has_license = True
is_insured = True

can_rent_car = (age >= 21) and (has_license) and (is_insured)
can_rent_car

True

In [64]:
if age>=21 and has_license and is_insured:
    print("Customer can rent a car.")
else:
    print("Customer cannot rent a car.")

Customer can rent a car.

# Loop

In [65]:
products = ["Laptop", "Mouse", "Keyboard", "Monitor"]
for x in products:
    print(f"Product: {x}")

Product: Laptop
Product: Mouse
Product: Keyboard
Product: Monitor

In [69]:
numbers = [10, 20, 30, 40, 50]
for num in numbers:
    squared = num ** 2
    print(f"Number: {num}, Squared: {squared}")

    if squared > 1000:
        print(f"  {squared} is greater than 1000.")

Number: 10, Squared: 100
Number: 20, Squared: 400
Number: 30, Squared: 900
Number: 40, Squared: 1600
  1600 is greater than 1000.
Number: 50, Squared: 2500
  2500 is greater than 1000.

In [71]:
# monthly_sales = [15000, 18000, 16500, 19200, 17800, 20000]

# for i, sales in monthly_sales:
#     print(f"Month {i}: Sales = ${sales}")

TypeError: cannot unpack non-iterable int object

In [73]:
monthly_sales = [15000, 18000, 16500, 19200, 17800, 20000]

for i, sales in enumerate(monthly_sales, start=1):
    print(f"Month {i}: Sales = ${sales}")

Month 1: Sales = $15000
Month 2: Sales = $18000
Month 3: Sales = $16500
Month 4: Sales = $19200
Month 5: Sales = $17800
Month 6: Sales = $20000

# List Comprehension

In [77]:
# Traditional way
prices = [29.99, 49.99, 19.99, 99.99, 39.99]
prices_with_tax = []

for price in prices:
    prices_with_tax.append(price * 1.08)

In [75]:
prices

[29.99, 49.99, 19.99, 99.99, 39.99]

In [80]:
# Option 1: Using list comprehension
[round(price, 2) for price in prices_with_tax]

[32.39, 53.99, 21.59, 107.99, 43.19]

In [78]:
prices_with_tax_2 = [price * 1.08 for price in prices]
prices_with_tax_2

[32.3892, 53.989200000000004, 21.589199999999998, 107.9892, 43.18920000000001]

In [85]:
sales = [100, 250, 450, 180, 520, 90, 300]
large_sales = [s*2+1 for s in sales if s > 200]
large_sales

[501, 901, 1041, 601]

# Practice Exercise 1

In [101]:
# Sample sales data for one week
weekly_sales = {
    'Monday': 1250,
    'Tuesday': 1580,
    'Wednesday': 1420,
    'Thursday': 1890,
    'Friday': 2150,
    'Saturday': 2400,
    'Sunday': 1980
}

# Task 1: Calculate total weekly sales
sum(weekly_sales.values())

# Task 2: Calculate average daily sales
number_of_days = len(weekly_sales)
average_sales = total_sales / number_of_days

# Task 3: Find best and worst days
best_day = max(weekly_sales, key=weekly_sales.get)
best_sales = weekly_sales[best_day]
best_sales

# Task 4: Find days above average
above_average_days = [day for day, sales in weekly_sales.items() if sales > average_sales]
# print(f"Task 4: Days with sales above average ({average_sales:.2f}): {', '.join(above_average_days)}")

2400